<br><br><br><br>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Valor Ventas</th>
      <th>Fecha de fundación</th>

      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= company.sales_value %></td>
        <td><%= company.founded_date %></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New City', new_company_path %>
